.title {
  margin: 0 0 34px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

.dark {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 20px;
    margin: 0 0 40px;
  }
}
