.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.text {
  color: #fff;
}

.link {
  text-decoration: none;
  color: #fff;
}
